body{
    font-family: "Rubik", sans-serif;
    background: linear-gradient(90deg, rgba(215, 227, 251, 1) -40%, rgba(218, 242, 232, 1) 100%);
}
html{
    scroll-behavior: smooth;
}
.pointer{
    cursor: pointer;
}
.none{
    display: none;
}
.align-column{
    vertical-align: middle;
    text-align: center;
}
.fs-7{
    font-size: 0.95rem;
}
.w-90{
    width: 90%;
}
.truncate{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.block{
    display: block;
}
.cookie{
    visibility: hidden;
}